<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="../../assets/favicon.ico" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="../../assets/apple-touch-icon.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="../../assets/favicon-32x32.png" />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="../../assets/favicon-16x16.png" />
    <link rel="manifest" href="../../assets/site.webmanifest" />

    <link rel="stylesheet" href="/css/output.css" />
    <title>Rate My School</title>
  </head>
  <body class="flex flex-col h-screen">
    <%- include('../partials/navbar') %>
    <main class="flex-grow">
      <a
        id="back-to-top-button"
        href="#"
        class="fixed bottom-5 right-5 z-10 bg-cyan-500 hover:bg-cyan-600 text-white font-bold py-2 px-4 rounded"
        style="display: none">
        <svg
          fill="#fff"
          height="20"
          width="20"
          version="1.1"
          id="Layer_1"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 330 330"
          xml:space="preserve">
          <path
            id="XMLID_224_"
            d="M325.606,229.393l-150.004-150C172.79,76.58,168.974,75,164.996,75c-3.979,0-7.794,1.581-10.607,4.394
	l-149.996,150c-5.858,5.858-5.858,15.355,0,21.213c5.857,5.857,15.355,5.858,21.213,0l139.39-139.393l139.397,139.393
	C307.322,253.536,311.161,255,315,255c3.839,0,7.678-1.464,10.607-4.394C331.464,244.748,331.464,235.251,325.606,229.393z" />
        </svg>
      </a>

      <%- body %>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
<script src="/js/back-to-top.js"></script>
