<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="/css/home-style.css" />
<div class="grid grid-cols-1 md:grid-cols-4 h-full">
  <div class="col-span-3 bg-img">
    <div class="h-full flex items-center justify-center text-center">
      <div class="m-8">
        <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          Have a school in mind to
          <span
            class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">
            Rate?
          </span>
        </h1>
        <h1
          class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl">
          Register now!
        </h1>
      </div>
    </div>
  </div>
  <div class="h-full mx bg-gray-50 rounded-md p-8 border border-gray-200">
    <div class="w-full">
      <h1
        class="mb-4 text-3xl font-extrabold text-gray-900 dark:text-white md:text-3xl lg:text-4xl">
        <span
          class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-400 from-sky-400"
          >Create an account</span
        >
      </h1>
      <form id="register-form-submit" action="/register" method="POST">
        <div class="relative z-0 mb-3 group">
          <input
            type="text"
            id="username"
            name="username"
            class="block register-input py-2.5 px-0 w-full text-gray-900 bg-transparent border-b border-gray-300 focus:outline-none focus:ring-0 peer"
            placeholder=" " />
          <label
            class="peer-focus:font-medium absolute text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            for="username"
            >Username</label
          >
        </div>
        <div class="relative z-0 mb-3 group">
          <input
            type="email"
            id="email"
            name="email"
            class="block register-input py-2.5 px-0 w-full text-gray-900 bg-transparent border-b border-gray-300 focus:outline-none focus:ring-0 peer"
            placeholder=" " />
          <label
            class="peer-focus:font-medium absolute text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            for="email"
            >Email</label
          >
        </div>
        <div class="relative z-0 mb-3 group">
          <input
            type="password"
            id="password"
            name="password"
            class="block register-input py-2.5 px-0 w-full text-gray-900 bg-transparent border-b border-gray-300 focus:outline-none focus:ring-0 peer"
            placeholder=" " />
          <label
            class="peer-focus:font-medium absolute text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
            for="password"
            >Password</label
          >
        </div>

        <div class="flex justify-between">
          <div>
            <button
              class="text-white bg-gradient-to-r from-cyan-400 via-cyan-500 to-cyan-600 hover:bg-gradient-to-br focus:outline-none focus:ring-cyan-300 font-medium rounded-lg text-md px-8 py-2.5 text-center mr-2 mb-2">
              Register
            </button>
          </div>
          <div>
            <span class="err-msg mt-10 text-red-500"></span>
          </div>
        </div>
        <div class="flex gap-2 mt-4">
          <span class="text-sm">Already have an account? </span>
          <a class="text-sm block text-sky-600 hover:text-sky-700" href="/login"
            >Login Here</a
          >
        </div>
      </form>
      <div class="mt-4"><%- include('../partials/flash') %></div>
    </div>

    <script src="/js/register-validation.js"></script>
  </div>
</div>
